*{
    box-sizing:border-box;
    border-radius:0;
}

body{
    margin:0;
    font-family:Helvetica;
    display:flex;
    justify-content:center;
    align-items:center;
    height:90vh;
    width:100vw;
}

div{
    height:150px;
}

header{
    color:white;
    background-color: rgba(158,194,133);
    text-align:center;
    padding:5px 0;
}

ul{
    list-style-type:none;
    padding:0;
}

.deleteSkill{
    border:none;
    background-color: rgba(210,109,106);
    color:white;
    padding:2px 6px;
    margin-right:10px;
}

li{
    margin:10px 0;
    color:rgba(242,160,61);
    font-size:13px;
}

input{
    width:40vw;
    border:2px rgba(158,194,133) solid;
    margin-right:5px;
}

#addSkill{
    color:rgba(158,194,133);
    border:2px rgba(158,194,133) solid;
}