*{
    box-sizing:border-box;
}

body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    min-width:100vw;
    margin:0;
    font-family:Helvetica;
    background-color:black;
}

main{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:5px grey solid;
    min-height:80vh;
    width:750px;
    background-color:white;
}

main > h1{
    font-size:30px;
    color:white;
    background-color: yellowgreen;
    text-align:center;
    width:400px;
    margin-bottom:0;
}

#skills{
    display:flex;
    flex-direction:column;
    width:400px;
    list-style-type:none;
    color: gold;
    padding-left:0;
}

.delSkill{
    background-color:red;
    color:white;
    border:none;
    margin-right:10px;
    padding:2px 5px;
}

#skills > li{
    padding:5px 0;
}

#controls{
    display:flex;
    justify-content:space-between;
    width:400px;
}

#controls > input{
    height:32px;
    border:3px yellowgreen solid;
    width:320px;
}

#controls > button{
    border:3px yellowgreen solid;
    color:yellowgreen;
}